<!DOCTYPE html>
<head>
<title>
</title>
{% load static %}



<style>
body{
font-family:Montserrat;
}
.wrapper{
margin:0 auto;
width:90%;
height:80vh;
margin-top:20px;

}
.jumbotron{
margin:0 auto;

}
form{
margin-left:10px;
}

input{
margin-left:5px;
}
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</head>

<body style="background-color:violet;">
<div class="wrapper">
<div id="me">
<form method="POST" action="/">
{% csrf_token %}
{{form.title}}
<input class="btn btn-info" type="submit" name="Create Task">


</form>
</div>
<br>
{% for task in tasks %}
<div class="jumbotron">
<a class="btn btn-info" href="{% url 'update_task' task.id  %}">Update Task</a>
<a class="btn btn-danger" href="{% url 'delete' task.id  %}">Delete</a>
<hr>
<h3>{{task}}</h3>

</div>


{% endfor %}
</body>

</html>




